header,
section h2{
    font-family: 'Bungee', cursive;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 16px 0;
    
    color: #800000;
}

header h1,
section h2{
    font-weight: normal;
}

header .container,
section .container,
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container{
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
}

header nav li{
    display: inline;
    margin-left: 16px 0;
    margin-right: 25px;
    font-size: 18px;
}

header nav li a{
    color: #ffd900a2;
    text-decoration: none;
}

header, nav, section, footer {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
    padding: 16px 0;
    font-family: 'Bungee', cursive;
    color: #800000;
}




section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section {
    color: #ffd900a2;
}

section p{
    margin-bottom: 8px;
}



.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/pexels-oscar-millán-14018448.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

header,
section {
    
    padding: 24px;
    border-radius: 8px;
    margin: 16px auto;
    max-width: 800px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribui os elementos igualmente na horizontal */
     /* Cor de fundo da barra de navegação */
}

nav li {
    margin: 0;
}

nav li a {
    display: block;
    padding: 5px; /* Espaçamento interno dos links */
    text-decoration: none;
    color: #ffd900a2;
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

nav li a:hover {
    background-color: #ffd900a2; /* Cor de fundo ao passar o mouse */
    color: #800000; /* Cor do texto ao passar o mouse */
}

/* Estilos para a seção Personagens */
.characters {
    padding: 20px;
    margin-top: 20px;
}

/* Estilos para a lista de personagens */
.character-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para cada personagem individual */
.character {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.character img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Estilos para os botões de edição e criação de personagem */
.edit-button,
.create-character-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-button:hover,
.create-character-button:hover {
    background-color: #0056b3;
}







